<% if cart.present? %>
  <sup>
    <% cart.size %>
  </sup>
  <ul>
    <% cart.each do |renegade| %>
      <li>
        <%= renegade.productName %>
        <%= renegade.price%>
        <% @total = self.total + renegade.price %>

      </li>
    <% end %>
  </ul>
  <h1><%= @total%></h1>
<% end %>

