<% if cart.present? %>
  <sup>
    <% cart.size %>
  </sup>
  <ul>
    <% cart.each do |renegade| %>
      <li>
        <%= renegade.productName %>
        $<%= renegade.price%>0

      </li>
    <% end %>
  </ul>
  <h1>Total: $<%= @total%>0</h1>
<% end %>

